/*  */
.w_global {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

/* style */

.container {
    width: 100%;
    overflow: hidden;
}

/* nav */
.nav {
    width: 100%;
    height: 64px;
    background: #fff;
    box-shadow: 1px 0px 15px rgba(0, 0, 0, 0.22);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}

.nav .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

/* NavLogo */

.nav .logo fugure {
    width: 78px;
    height: 25px;
}

.nav .logo fugure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* NavMenu */

.nav .menu {
    width: 100%;
    height: 100%;
}

.nav .menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
    height: 100%;
}

.nav .menu ul li {
    position: relative;
    font-size: 17px;
    cursor: pointer;
    height: 100%;
}

.nav .menu ul li a {
    height: 100%;
    font-size: 1em;
    font-weight: bold;
    color: #222;
    display: flex;
    align-items: center;
}

.nav .menu ul li:hover a {
    color: #002d96;
}

.nav .menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background: #002d96;
    transition: .3s;
}

.nav .menu ul li a:hover::after {
    width: 100%;
}

/* NavIco */

.nav .ico {
    display: flex;
    gap: 5px;
}

.nav .ico svg {
    cursor: pointer;
}

/* main */

.main {
    padding-top: 64px;
    position: relative;
    z-index: 1;
}


/* MainBanner */
.main .banner {
    background: url(../images/Banner.jpeg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: 600px;
    position: relative;
}

.main .banner .txt_wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0, -50%);
    margin-left: 124px;
    width: 460px;
}

.main .banner .txt_wrap .title {
    padding-bottom: 10px;
    border-bottom: 1px solid #222;
}

.main .banner .txt_wrap .title h3 {
    font-size: 1.25em;
    font-weight: normal;
    color: #222;
}

.main .banner .txt_wrap .content {
    margin: 20px 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #222;
}

.main .banner .txt_wrap .content p {
    font-size: 2.19em;
    color: #222;
    line-height: 1.3;
}

.main .banner .txt_wrap .sub {
    margin: 30px 0;
}

.main .banner .txt_wrap .sub span {
    font-size: 1em;
    color: #222;
    line-height: 1.5;
}

.more_btn {
    display: flex;
    justify-content: left;
}

.more_btn a {
    padding: 13px 43px 11px;
    font-size: 1em;
    border: 1px solid #222;
    border-radius: 30px;
    color: #222;
}

/* MainBestSeller */
.best_seller {
    padding-top: 100px !important;
}

.best_seller .title_wrap .title {
    margin-bottom: 16px;
}

.best_seller .title_wrap .title h4 {
    font-size: 1.25em;
    font-weight: 400;
    color: #002d96;
}

.best_seller .title_wrap .sub_title {
    margin-bottom: 40px;
}

.best_seller .title_wrap .sub_title h3 {
    font-size: 2.5em;
    font-weight: 400;
    color: #454545;
}

.best_seller .list {
    display: flex;
    justify-content: space-around;
}

.best_seller .list li {
    height: 100%;
    cursor: pointer;
    position: relative;
}

.best_seller .list li .img_wrap figure {
    width: 280px;
    height: 373px;
}

.best_seller .list li .img_wrap figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.best_seller .list li .star_on {
    transition: .3s;
}

.best_seller .list li.on .star_on {
    opacity: 0;
}

.best_seller .list li.on .star_off {
    opacity: 1;
    top: 0;
}

.best_seller .list li .star_off {
    opacity: 0;
    position: absolute;
    top: 20px;
    left: 0;
    transition: .3s;
}

.best_seller .list .txt_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.best_seller .list .txt_wrap .title {
    margin-bottom: 10px;
}

.best_seller .list .txt_wrap .title h4 {
    font-size: 1.25em;
    color: #454545;
}

.best_seller .list .txt_wrap .review {
    display: flex;
    align-items: baseline;
    gap: 5px;
    position: relative;
}

.best_seller .list .txt_wrap .review .star em {
    display: block;
    background: url(../images/ReviewStarsOn.png) no-repeat;
    background-size: cover;
    width: 70px;
    height: 15px;
    position: absolute;
    top: 0;
    left: 0;
}

.best_seller .list .txt_wrap .review .star figure {
    width: 90px;
    height: 15px;
}

.best_seller .list .txt_wrap .review .star figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.best_seller .list .txt_wrap .review span {
    font-size: 14px;
    font-weight: bold;
    color: #888;
}

/* iope_lab */
.iope_lab {
    margin-top: 100px;
    position: relative;
    background: url(../images/Iopelab.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
}

.iope_lab .txt_wrap {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 367px;
    text-align: center;
}

.iope_lab .txt_wrap .content {
    margin-bottom: 46px;
}

.iope_lab .txt_wrap p {
    font-size: 1.6em;
    color: #fff;
    font-weight: 400;
    line-height: 1.3;
    text-shadow: 3px 2px 1px #666;
}

.iope_lab .more_btn {
    display: flex;
    justify-content: center;
}

.iope_lab .more_btn a {
    background: #fff;
    border: 1px solid #fff;

}

/* COMENT */
.comment {
    padding-top: 100px !important;
}

.comment .mySwiper {
    overflow: visible;
}

.comment .inner {
    position: relative;
}

.comment .left_area {
    position: relative;
    left: 0;
    width: 50%;
    z-index: 1;
}

.comment .left_area figure {
    width: 100%;
}

.comment .right_area {
    background: #f6f6f6;
    width: 96%;
    max-width: 1064px;
    height: 100%;
    position: absolute;
    top: 50px;
    right: 0;
    z-index: 0;
}

.comment .right_area .txt_wrap {
    position: absolute;
    right: 10%;
    top: 40%;
    transform: translateY(-50%);
    width: 40%;
}

.comment .right_area .txt_wrap em {
    display: block;
    background: url(../images/quotation.svg) no-repeat;
    background-size: cover;
    width: 28px;
    height: 20px;
    margin-bottom: 30px;
}

.comment .right_area .txt_wrap .title {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    cursor: default;
}

.comment .right_area .txt_wrap .title strong {
    font-size: 2.2em;
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: 20px;
}

.comment .right_area .txt_wrap .title span {
    font-size: 1em;
    color: #888;
}

.comment .swiper-pagination-bullet {
    background: #000;
    width: 35px;
    height: 3px;
    border: none;
    border-radius: 0;
}

.comment .swiper-pagination-bullet-active {
    background-color: #454545;
    opacity: 1;
    box-shadow: 0 0 5px #000;
}

.comment .swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    display: flex;
    justify-content: end;
    padding-right: 35px;
}

/* WITHIOPE */
.withiope {
    padding-top: 100px !important;
    position: relative;
}

.withiope .txt_wrap {
    text-align: center;
    margin-bottom: 30px;
}

.withiope .txt_wrap h2 {
    font-size: 3.12em;
    color: #010b45;
    margin-bottom: 10px;
}

.withiope .txt_wrap p {
    font-size: 2.5em;
    color: #888;
}

.withiope .slide_wrap {
    width: calc(100% - 80px);
}

.withiope ul {
    display: flex;
}

.withiope li {
    background: url(../images/withIOPE01.webp) no-repeat;
    background-size: cover;
    background-position: center;
    width: 250px;
    height: 250px;
    position: relative;
    bottom: 0;
    transition: .4s;
    cursor: pointer;
}

.withiope li .tag {
    position: absolute;
    bottom: -60px;
    background: #fff;
    width: 100%;
    height: 65px;
    text-align: center;
    padding: 10px;
    transition: .3s;
    border: 1px solid #eee;
}

.withiope li.on {
    bottom: 5px;
}

.withiope li.on .tag {
    bottom: 0;
}

.withiope li .tag a {
    font-size: .9em;
    color: #323a45;
    margin-bottom: 10px;
    display: block;
    font-weight: bold;
}

.withiope li .tag p {
    font-size: .8em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #4d5865;
}

.withiope .swiper-button-next,
.withiope .swiper-button-prev {
    top: 73%;
    right: 0;
}

.withiope .swiper-button-next::after {
    content: '';
    display: block;
    background: url(../images/SlideNext.png) no-repeat;
    background-size: 20px 40px;
    width: 20px;
    height: 40px;
}

.withiope .swiper-button-prev::after {
    content: '';
    display: block;
    background: url(../images/SlidePrev.png) no-repeat;
    background-size: 20px 40px;
    width: 20px;
    height: 40px;
}

/* BRAND STORY */

.brand_story {
    background: url(../images/Brandstory.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    margin: 100px 0 150px;
}

.brand_story .txt_wrap {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.brand_story .txt_wrap .title {
    margin-bottom: 16px;
}

.brand_story .txt_wrap .title h3 {
    font-size: 1.25em;
    color: #fff;
    font-weight: 400;
}

.brand_story .txt_wrap .content {
    margin-bottom: 46px;
}

.brand_story .txt_wrap .content p {
    font-size: 2.25em;
    color: #fff;
    line-height: 1.5;
}

.brand_story .txt_wrap .more_btn a {
    color: #fff;
    border: 1px solid #fff;
}

/* footer */
.footer {
    position: relative;
    z-index: 2;
    background: #f7f6f4;
    border-top: 1px solid #e5e5e5;
}

.footer .inner {
    display: flex;
    justify-content: space-between;
}

.footer .left_area ul {
    display: flex;
    flex-wrap: wrap;
    gap: 5px 20px;
    padding: 30px 0;
}

.footer .left_area li {
    height: 100%;
    position: relative;
}

.footer .left_area li a {
    height: 100%;
    display: flex;
    align-items: center;
    color: #666;
    font-size: .85em;
}

.footer .left_area li a::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 10px;
    right: -10px;
    top: 38%;
    transform: translateY(-50%);
    background: #ccc;
}

.footer .left_area li:last-child a::after {
    content: none;
}


.footer .right_area ul {
    display: flex;
    align-items: center;
    gap: 0 15px;
    padding: 30px 0;
}

.footer .right_area li a {
    display: block;
    width: 32px;
}

/* media */
@media screen and (max-width:1440px) {
    .w_global {
        padding: 0 40px;
    }

    .comment .right_area .txt_wrap {
        font-size: 13px;
        right: 7%;
    }

    .withiope .swiper-button-next,
    .withiope .swiper-button-prev {
        right: 10px;
    }
}

@media screen and (max-width:978px) {
    .comment .mySwiper {
        overflow: hidden;
        padding-bottom: 50px;
    }

    .comment .inner {
        text-align: center;
    }

    .comment .left_area {
        position: unset;
        width: 100%;
    }

    .comment .right_area {
        position: unset;
        width: 100%;
        background: #fff;
    }

    .comment .right_area .txt_wrap {
        width: 100%;
        position: unset;
        transform: unset;
    }

    .comment .right_area .txt_wrap .title {
        margin-bottom: 30px;
    }

    .comment .right_area .txt_wrap em {
        margin: 35px auto;
    }

    .comment .more_btn {
        justify-content: center;
    }

    .comment .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        justify-content: center;
        padding-right: 0;
    }
}

@media screen and (max-width: 500px) {
    .comment .right_area .txt_wrap {
        font-size: 8px;
    }
}