/*  */
.w_global {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

/* style */

.container {
    width: 100%;
    overflow: hidden;
}

/* nav */
.nav {
    width: 100%;
    height: 64px;
    background: #fff;
    box-shadow: 1px 0px 15px rgba(0, 0, 0, 0.22);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}

.nav .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.nav .logo fugure {
    width: 78px;
    height: 25px;
}

.nav .logo fugure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav .menu {
    width: 100%;
    height: 100%;
}

.nav .menu>ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
    height: 100%;
}

.nav .menu .item {
    position: relative;
    font-size: 17px;
    cursor: pointer;
    height: 100%;
}

.nav .menu .item>a {
    height: 100%;
    font-size: 1em;
    font-weight: bold;
    color: #222;
    display: flex;
    align-items: center;
}

.nav .menu .item:hover>a {
    color: #002d96;
}

.nav .menu .item a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background: #002d96;
    transition: .3s;
}

.nav .menu .item a:hover::after {
    width: 100%;
}

.nav .menu .sub_item {
    width: 100%;
    height: 52px;
    background: #fff;
}

.nav .ico {
    display: flex;
    align-items: center;
    gap: 11px;
}

.nav .ico figure {
    width: 25px;
    cursor: pointer;
}

.nav .ico figure:nth-child(2) {
    width: 35px;
}

.nav .ico figure:nth-child(3) {
    margin-right: 4px;
}

.nav .ico svg {
    cursor: pointer;
}

.nav .ico .side_ico {
    display: flex;
    align-items: center;
    gap: 10px;
    display: none;
}

.nav .ico .side_ico figure {
    width: 32px;
    cursor: pointer;
}

.nav .ico .side_ico .search_btn {
    width: 25px;
}

/* sideBar */
.side_bar {
    position: fixed;
    right: -300px;
    top: 0;
    width: 300px;
    height: 100%;
    background: #e1e0df;
    z-index: 4;
    transition: .4s;
}

.side_bar.on {
    right: 0;
}

.side_bar.on .bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

.side_bar .top {
    border-bottom: 1px solid #0059b4;
}

.side_bar .p_global {
    padding: 0 20px;
}

.side_bar .top .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    background: #fff;
}

.side_bar .top .login {
    width: 50px;
    height: 27px;
    cursor: pointer;
}

.side_bar .top .login a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0059b4;
    border: 1px solid #0059b4;
    border-radius: 20px;
    font-size: .75em;
    height: 100%;
}

.side_bar .top .close figure {
    cursor: pointer;
    transform: rotate(90deg);
    transition: .4s;
}

.side_bar .center {
    background: #eaeaea;
    height: 100%;
}

.side_bar .center .item {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid #e5e5e5;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    background: #fff;
}

.side_bar .center .item .title {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 22px 20px;
    color: #333;
}

.side_bar .center .item .title a {
    width: 100%;
    color: #454545;
    font-weight: bold;
}

.side_bar .center .item .title em {
    display: block;
    background: url(../images/plus.png) no-repeat;
    width: 20px;
    height: 20px;
    transition: .4s;
}

.side_bar .center .item .title em.on {
    background: url(../images/minus.png) no-repeat;
    width: 20px;
    height: 20px;
    transition: .4s;
    transform: rotate(-180deg);
}

.side_bar .center .item .title:hover {
    background: rgba(0, 89, 180, .8);
}

.side_bar .center .item .title:hover a {
    color: #fff;
}

.side_bar .center .item .title:hover em {
    background: url(../images/plus_active.png) no-repeat;
}

.side_bar .center .item .title:hover em.on {
    background: url(../images/minus_active.png) no-repeat;
}

.side_bar .center .item:hover strong {
    color: #fff;
}

.side_bar .center .sub_item {
    background: #f1f1f1;
    height: 0;
    transition: all .5s;
}

.side_bar .center .sub_item li {
    display: flex;
    align-items: center;
    height: 64px;
    padding: 0 20px;
    cursor: pointer;
    background: #e9e9e6;
}

.side_bar .center .sub_item a {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 60px;
    border-bottom: 1px solid #ccc;
    position: relative;
}

.side_bar .center .sub_item a:hover {
    color: #002d96;
}

.side_bar .center .sub_item a::after {
    content: "";
    display: block;
    background: url(../images/prev.png) no-repeat;
    width: 6px;
    height: 12px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.side_bar .center .sub_item a:hover::after {
    background: url(../images/prev_hover.png) no-repeat;
}

.side_bar .center .sub_item li:last-child a {
    border-bottom: 0;
}

.side_bar .ico {
    position: absolute;
    bottom: 60px;
    left: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.side_bar .ico figure {
    cursor: pointer;
    width: 30px;
}

.side_bar .bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #454545;
    width: 100%;
    text-align: center;
    height: 45px;
}

.side_bar .bottom a {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 45px;
    color: #fff;
    font-size: 1em;
    position: relative;
}

.side_bar .bottom a::after {
    content: "";
    display: block;
    background: url(../images/right.png) no-repeat;
    width: 12px;
    height: 12px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

/* main */

.main {
    padding-top: 64px;
    position: relative;
    z-index: 1;
}

/* MainBanner */
.main .banner .bg_01 {
    background: url(../images/Banner.jpeg) no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    height: 600px;
}

.main .banner .bg_02 {
    background: url(../images/Banner_02.jpeg) no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    height: 600px;
}

.main .banner .bg_03 {
    background: url(../images/Banner_03.jpeg) no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    height: 600px;
}

.main .banner .bg_04 {
    background: url(../images/Banner_04.jpeg) no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    height: 600px;
}

.main .banner .swiper-slide .bg {
    transform: scale(1.1);
    transition: 3s;
}

.main .banner .swiper-slide-active .bg {
    transform: scale(1);
}

.main .banner .stop {
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 0;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000;
    cursor: pointer;
}

.main .banner .stop.on {
    background: #f00;
}



.main .banner .swiper-pagination {
    left: 50%;
    transform: translateX(-50%);
}

.main .banner .swiper-pagination-bullet {
    width: 30px;
    height: 4px;
    border-radius: 0;
    box-shadow: 0px 0px 7px rgb(0 0 0 / 80%);
}

.main .banner .swiper-pagination-bullet-active {
    box-shadow: 0px 0px 7px rgb(0 0 0 / 80%);
    background: #fff;
}

.main .banner .swiper-button-next,
.main .banner .swiper-button-prev {
    color: #fff;
    text-shadow: 0px 0px 7px rgb(0 0 0 / 80%);
}

.main .banner .controls {
    position: absolute;
    bottom: 0;
}

.main .banner .txt_wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0, -50%);
    margin-left: 124px;
    width: 460px;
}

.main .banner .txt_wrap .title {
    padding-bottom: 10px;
    border-bottom: 1px solid #222;
}

.main .banner .txt_wrap .title h3 {
    font-size: 1.25em;
    font-weight: normal;
    color: #222;
}

.main .banner .txt_wrap .content {
    padding: 20px 0;
    border-bottom: 1px solid #222;
}

.main .banner .txt_wrap .content p {
    font-size: 2.19em;
    color: #222;
    line-height: 1.3;
}

.main .banner .txt_wrap .sub {
    margin: 10px 0;
}

.main .banner .txt_wrap .sub span {
    font-size: 1em;
    color: #222;
    line-height: 1.5;
}

.more_btn {
    display: flex;
    justify-content: left;
}

.more_btn a {
    padding: 13px 43px 11px;
    font-size: 1em;
    border: 1px solid #222;
    border-radius: 30px;
    color: #222;
}

/* MainBestSeller */
.best_seller {
    padding-top: 100px !important;
    position: relative;
}

.best_seller .title_wrap .title {
    margin-bottom: 16px;
}

.best_seller .title_wrap .title h4 {
    font-size: 1.25em;
    font-weight: 400;
    color: #002d96;
}

.best_seller .title_wrap .sub_title {
    margin-bottom: 40px;
}

.best_seller .title_wrap .sub_title h3 {
    font-size: 2.5em;
    font-weight: 400;
    color: #454545;
}

.best_seller .list {
    margin-bottom: 40px;
}

.best_seller .list li {
    width: 33.3333%;
    height: 100%;
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .3s;
}

.best_seller .list li .img_wrap figure {
    width: 280px;
    height: 373px;
}

.best_seller .list li .img_wrap figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.best_seller .list li .star_on {
    transition: .3s;
}

.best_seller .list li.on .star_on {
    opacity: 0;
}

.best_seller .list li.on .star_off {
    opacity: 1;
    top: 0;
}

.best_seller .list li .star_off {
    opacity: 0;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 20px;
    transition: .3s;
}

.best_seller .list .txt_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.best_seller .list .txt_wrap .title {
    margin-bottom: 10px;
}

.best_seller .list .txt_wrap .title h4 {
    font-size: 1.25em;
    color: #454545;
}

.best_seller .list .txt_wrap .review {
    display: flex;
    align-items: baseline;
    gap: 5px;
    position: relative;
}

.best_seller .list .txt_wrap .review .star em {
    display: block;
    background: url(../images/ReviewStarsOn.png) no-repeat;
    background-size: cover;
    width: 70px;
    height: 15px;
    position: absolute;
    top: 0;
    left: 0;
}

.best_seller .list .txt_wrap .review .star figure {
    width: 90px;
    height: 15px;
}

.best_seller .list .txt_wrap .review .star figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.best_seller .list .txt_wrap .review span {
    font-size: 14px;
    font-weight: bold;
    color: #888;
}

.best_seller .swiper-button-next::after {
    content: '';
    display: block;
    background: url(../images/BestsellerNext.svg) no-repeat;
    width: 32px;
    height: 32px;
}

.best_seller .swiper-button-prev::after {
    content: '';
    display: block;
    background: url(../images/BestsellerPrev.svg) no-repeat;
    width: 32px;
    height: 32px;
}

.best_seller .swiper-button-next {
    top: 25%;
    right: 0;
}

.best_seller .swiper-button-prev {
    top: 25%;
    left: auto;
    right: 41px;
}

/* iope_lab */
.iope_lab {
    margin-top: 100px;
    position: relative;
    background: url(../images/Iopelab.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
}

.iope_lab .txt_wrap {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 367px;
    text-align: center;
    width: 100%;
}

.iope_lab .txt_wrap .content {
    margin-bottom: 46px;
}

.iope_lab .txt_wrap p {
    font-size: 1.6em;
    color: #fff;
    font-weight: 400;
    line-height: 1.3;
    text-shadow: 3px 2px 1px #666;
}

.iope_lab .more_btn {
    display: flex;
    justify-content: center;
}

.iope_lab .more_btn a {
    background: #fff;
    border: 1px solid #fff;

}

/* COMENT */
.comment {
    padding-top: 100px !important;
}

.comment .mySwiper {
    overflow: visible;
}

.comment .inner {
    position: relative;
}

.comment .left_area {
    position: relative;
    left: 0;
    width: 50%;
    z-index: 1;
}

.comment .left_area figure {
    width: 100%;
}

.comment .right_area {
    background: #f6f6f6;
    width: 96%;
    max-width: 1064px;
    height: 100%;
    position: absolute;
    top: 50px;
    right: 0;
    z-index: 0;
}

.comment .right_area .txt_wrap {
    position: absolute;
    right: 10%;
    top: 40%;
    transform: translateY(-50%);
    width: 40%;
}

.comment .right_area .txt_wrap em {
    display: block;
    background: url(../images/quotation.svg) no-repeat;
    background-size: cover;
    width: 28px;
    height: 20px;
    margin-bottom: 30px;
}

.comment .right_area .txt_wrap .title {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    cursor: default;
}

.comment .right_area .txt_wrap .title strong {
    font-size: 2.2em;
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: 20px;
}

.comment .right_area .txt_wrap .title span {
    font-size: 1em;
    color: #888;
}

.comment .swiper-pagination-bullet {
    background: #000;
    width: 35px;
    height: 3px;
    border: none;
    border-radius: 0;
}

.comment .swiper-pagination-bullet-active {
    background-color: #454545;
    opacity: 1;
    box-shadow: 0 0 5px #000;
}

.comment .swiper-pagination {
    display: flex;
    justify-content: end;
    padding-right: 35px;
}

/* WITHIOPE */
.withiope {
    padding-top: 100px !important;
    position: relative;
}

.withiope .txt_wrap {
    text-align: center;
    margin-bottom: 30px;
}

.withiope .txt_wrap h2 {
    font-size: 3.12em;
    color: #010b45;
    margin-bottom: 10px;
}

.withiope .txt_wrap p {
    font-size: 2.5em;
    color: #888;
}

.withiope .slide_wrap {
    width: calc(100% - 80px);
}

.withiope ul {
    display: flex;
}

.withiope li:nth-child(1) {
    background: url(../images/withIOPE01.webp) no-repeat;
    background-size: cover;
    background-position: center;
    width: 250px;
    height: 250px;
    position: relative;
    bottom: 0;
    transition: .4s;
    cursor: pointer;
}

.withiope li:nth-child(2) {
    background: url(../images/withIOPE02.webp) no-repeat;
    background-size: cover;
    background-position: center;
    width: 250px;
    height: 250px;
    position: relative;
    bottom: 0;
    transition: .4s;
    cursor: pointer;
}

.withiope li:nth-child(3) {
    background: url(../images/withIOPE03.webp) no-repeat;
    background-size: cover;
    background-position: center;
    width: 250px;
    height: 250px;
    position: relative;
    bottom: 0;
    transition: .4s;
    cursor: pointer;
}

.withiope li:nth-child(4) {
    background: url(../images/withIOPE04.webp) no-repeat;
    background-size: cover;
    background-position: center;
    width: 250px;
    height: 250px;
    position: relative;
    bottom: 0;
    transition: .4s;
    cursor: pointer;
}

.withiope li:nth-child(5) {
    background: url(../images/withIOPE05.webp) no-repeat;
    background-size: cover;
    background-position: center;
    width: 250px;
    height: 250px;
    position: relative;
    bottom: 0;
    transition: .4s;
    cursor: pointer;
}

.withiope li:nth-child(6) {
    background: url(../images/withIOPE06.webp) no-repeat;
    background-size: cover;
    background-position: center;
    width: 250px;
    height: 250px;
    position: relative;
    bottom: 0;
    transition: .4s;
    cursor: pointer;
}

.withiope li:nth-child(7) {
    background: url(../images/withIOPE07.webp) no-repeat;
    background-size: cover;
    background-position: center;
    width: 250px;
    height: 250px;
    position: relative;
    bottom: 0;
    transition: .4s;
    cursor: pointer;
}

.withiope li:nth-child(8) {
    background: url(../images/withIOPE08.webp) no-repeat;
    background-size: cover;
    background-position: center;
    width: 250px;
    height: 250px;
    position: relative;
    bottom: 0;
    transition: .4s;
    cursor: pointer;
}

.withiope li em {
    display: block;
    background: url(../images/basket.png) no-repeat;
    width: 28px;
    height: 28px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.withiope li .tag {
    position: absolute;
    bottom: -60px;
    background: #fff;
    width: 100%;
    height: 65px;
    text-align: center;
    padding: 10px;
    transition: .3s;
    border: 1px solid #eee;
}

.withiope li.on {
    bottom: 5px;
}

.withiope li.on .tag {
    bottom: 0;
}

.withiope li .tag a {
    font-size: .9em;
    color: #323a45;
    margin-bottom: 10px;
    display: block;
    font-weight: bold;
}

.withiope li .tag p {
    font-size: .8em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #4d5865;
}

.withiope .swiper-button-next,
.withiope .swiper-button-prev {
    top: 73%;
    right: 0;
}

.withiope .swiper-button-next::after {
    content: '';
    display: block;
    background: url(../images/SlideNext.png) no-repeat;
    background-size: 20px 40px;
    width: 20px;
    height: 40px;
}

.withiope .swiper-button-prev::after {
    content: '';
    display: block;
    background: url(../images/SlidePrev.png) no-repeat;
    background-size: 20px 40px;
    width: 20px;
    height: 40px;
}

/* BRAND STORY */

.brand_story {
    background: url(../images/Brandstory.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    margin: 100px 0 150px;
}

.brand_story .txt_wrap {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.brand_story .txt_wrap .title {
    margin-bottom: 16px;
}

.brand_story .txt_wrap .title h3 {
    font-size: 1.25em;
    color: #fff;
    font-weight: 400;
}

.brand_story .txt_wrap .content {
    margin-bottom: 46px;
}

.brand_story .txt_wrap .content p {
    font-size: 2.25em;
    color: #fff;
    line-height: 1.5;
}

.brand_story .txt_wrap .more_btn a {
    color: #fff;
    border: 1px solid #fff;
}

/* footer */
.footer {
    position: relative;
    z-index: 2;
    background: #f7f6f4;
    border-top: 1px solid #e5e5e5;
}

.footer .top_area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid #e5e5e5;
}

.footer .related {
    display: flex;
    flex-wrap: wrap;
    gap: 5px 20px;
}

.footer .related li {
    height: 100%;
    position: relative;
}

.footer .related li a {
    height: 100%;
    display: flex;
    align-items: center;
    color: #666;
    font-size: .85em;
}

.footer .related li a::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 10px;
    right: -10px;
    top: 38%;
    transform: translateY(-50%);
    background: #ccc;
}

.footer .related li:last-child a::after {
    content: none;
}

.footer .sns ul {
    display: flex;
    align-items: center;
    gap: 0 15px;
}

.footer .sns li a {
    display: block;
    width: 32px;
}

.footer .footer_sub {
    margin-top: 17px;
    display: flex;
    gap: 40px;
}

.footer .footer_sub .contact span,
.footer .footer_sub .copy span {
    font-size: .75em;
    color: #666;
}

.footer .footer_sub .contact a {
    font-size: 1em;
    color: #333;
}

.footer .footer_sub .copy {
    margin-top: 8px;
}

.footer .footer_sub .right_area figure {
    width: 61px;
}

/* media */
@media screen and (max-width:1440px) {
    .w_global {
        padding: 0 40px;
    }

    .best_seller .swiper-button-next {
        right: 41px;
    }

    .best_seller .swiper-button-prev {
        right: 85px;
    }

    .comment .right_area .txt_wrap {
        font-size: 13px;
        right: 7%;
    }

    .withiope .swiper-button-next,
    .withiope .swiper-button-prev {
        right: 10px;
    }
}

@media screen and (max-width: 1200px) {
    .main .banner .txt_wrap {
        margin-left: 0;
        font-size: 12px;
    }
}

@media screen and (max-width:978px) {
    .w_global {
        padding: 0 10px;
    }

    .nav .menu {
        display: none;
    }

    .nav .ico>figure {
        display: none;
    }

    .nav .ico .side_ico {
        display: flex;
    }

    .best_seller .list li {
        width: 50%;
    }

    .best_seller .swiper-button-next {
        right: 15px;
    }

    .best_seller .swiper-button-prev {
        right: 60px;
    }

    .comment .mySwiper {
        overflow: hidden;
        padding-bottom: 50px;
    }

    .comment .inner {
        text-align: center;
    }

    .comment .left_area {
        position: unset;
        width: 100%;
    }

    .comment .right_area {
        position: unset;
        width: 100%;
        background: #fff;
    }

    .comment .right_area .txt_wrap {
        width: 100%;
        position: unset;
        transform: unset;
    }

    .comment .right_area .txt_wrap .title {
        margin-bottom: 30px;
    }

    .comment .right_area .txt_wrap em {
        margin: 35px auto;
    }

    .comment .more_btn {
        justify-content: center;
    }

    .comment .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        justify-content: center;
        padding-right: 0;
    }

    .footer .sns {
        display: none;
    }
}

@media screen and (max-width:950px) {
    .main .banner .bg_01 {
        background: url(../images/T_Banner.jpg) no-repeat;
        background-size: cover;
        background-position: center;
    }

    .main .banner .bg_02 {
        background: url(../images/T_Banner_02.png) no-repeat;
        background-size: cover;
        background-position: center;
    }

    .main .banner .bg_03 {
        background: url(../images/T_Banner_03.png) no-repeat;
        background-size: cover;
        background-position: center;
    }

    .main .banner .bg_04 {
        background: url(../images/T_Banner_04.png) no-repeat;
        background-size: cover;
        background-position: center;
    }
}

@media screen and (max-width: 768px) {
    .main .banner .bg_01 {
        background: url(../images/M_Banner.jpeg) no-repeat;
        background-size: cover;
        background-position: center;
    }

    .main .banner .bg_02 {
        background: url(../images/M_Banner_02.jpeg) no-repeat;
        background-size: cover;
        background-position: center;
    }

    .main .banner .bg_03 {
        background: url(../images/M_Banner_03.jpeg) no-repeat;
        background-size: cover;
        background-position: center;
    }

    .main .banner .bg_04 {
        background: url(../images/M_Banner_04.jpeg) no-repeat;
        background-size: cover;
        background-position: center;
    }

    .main .banner .txt_wrap {
        top: auto;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        width: 100%;
        height: 60%;
        background: rgba(0, 0, 0, 0.5);
        padding: 10px;
        text-align: center;
    }

    .main .banner .txt_wrap .title h3,
    .main .banner .txt_wrap .content p,
    .main .banner .txt_wrap .sub span,
    .main .banner .more_btn a {
        color: #fff;
    }

    .main .banner .txt_wrap .title,
    .main .banner .txt_wrap .content {
        border-bottom: 1px solid #fff;
    }

    .more_btn {
        justify-content: center;
    }

    .more_btn a {
        border: 1px solid #fff;
    }


    @media screen and (max-width: 500px) {
        .best_seller .list li {
            width: 100%;
        }


        .main .banner .txt_wrap {
            font-size: 10px;
            height: 50%;
        }

        .best_seller .swiper-button-next::after {
            background: none;
            content: 'next';
        }

        .best_seller .swiper-button-prev::after {
            background: none;
            content: 'prev';
        }

        .best_seller .swiper-button-next {
            top: 66%;
            transform: translateY(-50%);
            color: #333;
        }

        .best_seller .swiper-button-prev {
            top: 66%;
            transform: translateY(-50%);
            left: 15px;
            color: #333;
        }

        .comment .right_area .txt_wrap {
            font-size: 8px;
        }

        .iope_lab .txt_wrap {
            font-size: 11px;
            width: 100%;
        }

        .best_seller .title_wrap,
        .brand_story .txt_wrap,
        .withiope .txt_wrap {
            font-size: 12px;
        }

        .footer .related {
            gap: 5px 15px;
        }

        .footer .footer_sub {
            margin-top: 12px;
            margin-bottom: 4px;
        }

    }

    @media screen and (max-width: 350px) {
        .withiope li .tag p {
            width: 190px;
        }
    }
}